* {
  background-color:white;
}

#header {
  background-color: rgb(162, 194, 113);
  margin-top: 20px;
  margin-bottom: 80px;
  overflow: hidden;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

#title-area {
  float: left;
  background-color: rgb(162, 194, 113);
  margin-bottom: 30px;
  line-height: 10px;
  height: 80px;

}
/* header styling */

#title-area h1 {
  background-color: rgb(162, 194, 113);
  font-family: 'Cinzel', serif;
  font-size: 45px;
  text-align: center;
  white-space: nowrap;
}

#title-area p {
  background-color: rgb(162, 194, 113);
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: rgb(252, 78, 78);
  line-height: 1px;
  white-space: nowrap;
}

#title-area img {
  width: 80px;
  height: 60px;
  background-color: rgb(162, 194, 113);

}

nav {
  background-color: rgb(162, 194, 113);
  line-height: 80px;
  font-family: 'Cinzel', serif;
  color: black;
  height: 100px;
  float: right;
  width: 40%;
}

nav ul {
  background-color: rgb(162, 194, 113);
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  background-color: rgb(162, 194, 113);
  float: left;
  padding: 8px;
}

nav a { 
  background-color: rgb(162, 194, 113);
  color: black;
  display: block;
  text-decoration: none;
}

/* content styling */
body {
  font-family: Georgia, Times, serif;
  font-size: 16px;
}
.content p{
  background-color: beige;
}
.content ul{
  background-color: beige;
}
.content li{
  background-color: beige;
}
.content-wrap{
  border-style: dotted;
  border-color: gray;
  background-color: beige;
  padding: 8px;
}
.content-info{
  background-color: beige;
}
.title h2 {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  background-color: beige;
}

