* {
  background-color: beige;
}
body {
  font-family: Georgia, Times, serif;
  color: black;
}
.header {
  background-color: rgb(169, 189, 137);
  height: 100px;
  margin-bottom: 5px;
  overflow: hidden;
}

.header img {
  background-color: rgb(169, 189, 137);
  width: 90px;
  height: 40px;
}

.header h1 {
  background-color: rgb(169, 189, 137);
  font-family: 'Cinzel', serif;
  font-size: 45px;
  color: rgb(165, 91, 0);
}

.header p{
  background-color: rgb(169, 189, 137);
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: rgb(142, 42, 42);
  line-height: 20px;
  white-space: nowrap;
}


.header nav {
  background-color: rgb(169, 189, 137);
  float: right;
  font-family: 'Cinzel', serif;
  color: black;
}

.header nav ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

.header nav ul li {
  background-color: rgb(169, 189, 137);
  float: left;
  padding: 8px;
}

a { 
  background-color: rgb(169, 189, 137);
  color: black;
  display: block;
  text-decoration: none;
}

/* content styling */

#about h2{
  font-family: 'Cinzel', serif;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: bold;
  color: rgb(165, 91, 0);
  font-size: 20px;
}

#about p{
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  width: 480px;
  height: 300px;
}

#about img{
  float: right;
  padding-right: 50px;
  padding-left: 50px;
  width: 480px;
  height: 300px;
}

#locations h2{
  position: absolute;
  float: left;
  margin-top: 320px;
  font-family: 'Cinzel', serif;
  padding-left: 30px;
  font-weight: bold;
  color: rgb(165, 91, 0);
  font-size: 20px;
  width: 375px;
  height: 300px;
}

#locations p{
  position: absolute;
  margin-top: 350px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}
#locations ul{
  position: absolute;
  margin-top: 370px;
  margin-left: 30px;
  font-size: 18px;
  width: 375px;
}

#locations #address li{
  color: rgb(142, 42, 42);
}

#locations li{
  line-height: 20px;
}

#contact h2{
  position: absolute;
  margin-top: 320px;
  font-family: 'Cinzel', serif;
  margin-left: 405px;
  font-weight: bold;
  color: rgb(165, 91, 0);
  font-size: 20px;
  width: 375px;
  height: 300px;
}

#contact p{
  position: absolute;
  margin-top: 350px;
  margin-left: 405px;
  font-size: 18px;
  font-weight: bold;
}

#contact ul{
  position: absolute;
  margin-top: 370px;
  margin-left: 415px;
  font-size: 18px;
  line-height: 30px;
}

#contact li{
  line-height: 20px;
}

#events h2{
  position: absolute;
  margin-top: 320px;
  font-family: 'Cinzel', serif;
  margin-left: 785px;
  font-weight: bold;
  color: rgb(165, 91, 0);
  font-size: 20px;
  width: 375px;
  height: 300px;
}

#events p{
  position: absolute;
  margin-top: 350px;
  margin-left: 785px;
  font-size: 18px;
  font-weight: bold;
}

#events ul{
  position: absolute;
  margin-top: 370px;
  margin-left: 790px;
  font-size: 18px;
  line-height: 30px;
}
#events a{
  background-color: beige;
  color: rgb(142, 42, 42);
}
#events li{
  line-height: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

table {
  border: solid black 1px;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  width: 60px;
  border: solid black 1px;
}

td {
  text-align: center;
  height: 30px;
  border: solid black 1px;
}